<html>
<head>
</head>
<title></title>

<h1>Make your form here</h1>

<body>
<form method="post" action="/pirates">
  <label>Pirate Name: <input type="text" name="pirates[name]">


<input type="submit">
</form>
</body>
</html>
