<html>
<head>
</head>
<title></title>

<h1>Make your form here</h1>

<body>
<form method="post" action="/pirates/show">
  <label>Pirate Name: <input type="text" name="pirates[name]"><label><br/>
    <label>Pirate Weight: <input type="text" name="pirates[weight]"><label><br/>
      <label>Pirate Height: <input type="text" name="pirates[height]"><label><br/>
<input type="submit">
</form>
</body>
</html>
