<html>
<head>
</head>
<title></title>

<h1>Make your form here</h1>

<body>
<form method="post" action="/pirates">
  <h2>Pirate</h2>
  <label for="pirate_name">Name</label><br>
    <input type="text" name="pirate[name]"><br>
    <label for="pirate_weight">Weight</label><br>
    <input type="text" name="pirate[weight]"><br>
    <label for="pirate_height">Height</label><br>
    <input type="text" name="pirate[height]"><br><br>

  <h2>Ship(s)</h2>
        <label>First Ship:
        <input type="text" name="pirate[ships][][name]"><br/>
        <label>First Ship: <input type="text" name="pirate[ships][][type]"><label><br/>
        <label>First Ship: <input type="text" name="pirate[ships][][booty]"><label><br/>
<input type="submit">
</form>
</body>
</html>
