<html>
<head>
</head>
<title></title>

<h1>Make your form here</h1>

<body>
<form method="post" action="/pirates">
  <label for="pirate_name">Name</label><br/> 
    <input type="text" name="pirate[name]"><label><br/>
    <label>Pirate Weight: <input type="text" name="pirate[weight]"><label><br/>
      <label>Pirate Height: <input type="text" name="pirate[height]"><label><br/>
        <label>First Ship: <input type="text" name="pirate[ships][][name]"><label><br/>
          <label>First Ship: <input type="text" name="pirate[ships][][type]"><label><br/>
            <label>First Ship: <input type="text" name="pirate[ships][][booty]"><label><br/>
<input type="submit">
</form>
</body>
</html>
